@page
@model Lab5NET.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Lab 5</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">You can upload file in Predictions</a>.</p>
</div>

